<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture">

	<select id="list" resultType="vo.LectureVO">
		select l.*, member_name teacher_name
		from lecture l left outer join member m 
		on l.teacher_code = m.member_code
		where lecture_code in(select lecture_code 
		                        from enrolment
		                        where member_code = #{member_code})
	</select>
</mapper>