@charset "UTF-8";

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

input[type="text"], input[type=password] {
	width: 300px;
	margin: 10px 0;
	height: 30px;
	border: 1px solid #cccccc;
}

#container {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

#container.ct_top {
	padding-top: 30px;
}

#contet_area {
	position: static;
	margin-top: 30px;
}

#login_btn {
	width: 100%;
	height: 50px;
	padding: 10px;
}

#attach-file {
	display: block;
}

.main_wrap {
	margin: 0 auto;
	overflow: hidden;
	min-height: 620px;
}

.lnb_title {
	height: 20px;
	margin-bottom: 40px;
	letter-spacing: -0.07em;
}

.lnb_list>li {
	display: inline-block;
	text-align: center;
}

.path {
	width: 100%;
	display: block;
	overflow: hidden;
	margin: 0 auto;
	font-size: 15px;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	top: 2px;
	left: 0;
}

.path_list {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}

.path_list li.last {
	color: #222;
}

.path_list:before {
	content: '홈';
}

.path_list li:before {
	content: '-';
}

.content_body {
	padding-top: 30px;
}

.login_box {
	width: 100%;
	max-width: 550px;
	margin: 0 auto;
	overflow: hidden;
}

.log_title {
	height: 50px;
	margin-bottom: 30px;
}

.log_title>img {
	float: left;
}

.log_title>p {
	float: left;
	margin-top: 10px;
	margin-bottom: 0;
}

.id_in>input[type=text], .pw_in>input[type=password] {
	width: 100%;
	height: 50px;
	line-height: 30px;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	margin-bottom: 10px;
}

.log_find {
	margin-top: 10px;
}

.log_find p {
	float: left;
	width: 55%;
	font-weight: 500;
	letter-spacing: -0.03em;
	font-size: 15px;
	margin: 17px 0;
	text-align: left;
}

.log_find a {
	width: 245px;
	margin: 10px 0;
}

.btn-outline-dark:hover {
	background-color: #cccccc;
}

.join_box {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.join_table {
	border-top: 1px solid #000;
	width: 1200px;
}

.join_table>tbody>tr {
	border-bottom: 1px solid #d1d1d1;
}

.tb_th {
	padding: 10px 5px;
	color: #000;
	background-color: #f8f8f8;
}

.join_table>tbody>tr>td {
	padding: 10px;
	text-align: left;
}

.input_post {
	width: 100px !important;
}

.board_btn {
	margin: 10px;
}

.board_btn>a {
	padding: 10px 80px;
}

.join_box_title>h5 {
	float: left;
	margin-right: 10px;
}

.join_box_title>span {
	float: left;
}

.must {
	color: red;
}

.find_box1 {
	width: 100%;
	max-width: 550px;
	margin: 10px;
	overflow: hidden;
	border: 1px solid #dedede;
	display: inline-block;
	text-align: center;
}

.find_title {
	font-size: 20px;
	color: #000;
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #dedede;
	background: #f9f9f9;
}

/* =================================== */
.find_content {
	width: 100%;
	padding: 30px;
}
.tab_wrap {
	position: relative;
	margin: 10px 20px;
}

.tab_tt {
	width: 100%;
	display: inline-block;
	height: 36px;
	box-sizing: border-box;
	border-bottom: 1px solid #dedede;	
}

.tab_tt > li {
	float: left;
	position: relative;
	padding: 5px 10px;
}

.tab_title > a {
	font-size: 20px;
	color: #000;
}

.tab_con_wrap {
	margin-bottom: 0;
}

.find_box {
	padding: 10px 0;
	margin: 0 auto;
}

.find_id > li {
	overflow: hidden;
	position: relative;
	padding-left: 90px;
	margin-bottom: 10px;
	line-height: 40px;
}

.find_id > li > strong {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 90px;
	line-height: 58px;
	color: #000;
	font-size: 20px;
	text-align: left;
}

.find_id > li > div {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.find_id > li > input[type=text] {
	margin-top: 1px;
	height: 40px;
	line-height: 40px;
}

.input_size > input[type="text"] {
	width: 100%;
	height: auto;
	margin: 10px 0;
	border: 1px solid #cccccc;
}

.find_id li.find_btn {
	padding: 0;
}
.find_btn > a {
	width: 100%;
	padding: 15px 10px;
}

.tab_title1 {
	border-bottom: 3px solid #000;
}